<p id="notice"><%= notice %></p>

<p>
  <b>Scenario:</b>
  <%= @problem.scenario %>
</p>

<%= link_to 'Create Step', new_problem_step_path([@problem]) %> |
<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
