<h1>Listing steps</h1>

<table>
  <tr>
    <th>Do</th>
    <th>Problem</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @steps.each do |step| %>
  <tr>
    <td><%= step.do %></td>
    <td><%= step.problem_id %></td>
    <td><%= link_to 'Show', problem_step_path(@problem, step) %></td>
    <td><%= link_to 'Edit', edit_problem_step_path(@problem, step) %></td>
    <td><%= link_to 'Destroy', [@problem, step], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Step', new_problem_step_path(@problem) %>
